h1 {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 26;
}
body {
    background-color: antiquewhite;
}
header {
    background-color: #e01a4f;
    padding: 1em;
}
.navbar-custom {
    background-color: #e01a4f;
}
img:hover {
    opacity: .5
}
section {
    width: 100vw;
    height: 100vh;
}
